/* 
---- 01 TYPOGRAPHY SYSTEM

--Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--Font weights
400 / 500 / 600 / 700

--Line heights
Default: 1
1.05
1.6

---- 02 COLORS

--Primary: 
--Secondary: 
--Tints: 
--Shades:
--Accents:
--Greys:

---- 03 SHADOWS

---- 04 BORDER-RADIUS
Default: 9px

----05 WHITESPACE

--Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(240, 62, 62, 0.5); */
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /*  Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work for safari browser */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

/****************************************/
/* HEADER SECTION */
/****************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.247); */
  /* border-bottom: 2px solid #000; */
  background-color: #000;

  height: 6rem;
  padding: 0 4.8rem 0 0;
  position: relative;
}

/* .header-logo {
  height: 7rem;
} */

.logo {
  /* padding: 3.6rem 15rem; */
  height: 8rem;
  background-color: #fff;
}

/****************************************/
/* NAVIGATION SECTION */
/****************************************/

.main-nav {
  font-size: 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
}

/* .main-nav-link:hover,
.main-nav-link:active {
  color: #f03e3e;
  border-bottom: solid 3px #f03e3e;
} */

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  /* background-color: #f03e3e; */
  color: #e8e8e8;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  /* background-color: #a82b2b; */
  border: none;
}

/* Mobile navigation */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 3.6rem;
  width: 3.6rem;
  color: #333;
}

.icon-mobile-nav[name="close"] {
  display: none;
}

/* Sticky navigation */

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: rgba(255, 255, 255, 0); */
  z-index: 99999;
  box-shadow: none;
}
